textarea{
    width: 200px;
    height: 40px;
    background: whitesmoke;
    font-size: 15px;
    font-family: sans-serif, serif;
    padding: 10px;
}
.text-area-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}