.ProfileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
    width: 300px;
    height: 550px;
    background: rgb(85, 85, 171);
    border: 1px solid #7878e1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    align-items: center;
    font-size: 20px;
  }
  
  .ProfileCard img {
    width: 100%; 
    border-radius: 30%; 
  }
  
  .ProfileCard h3 {
    text-align: center; 
  }
  
  .ProfileCard p {
    text-align: center;
  }
  